<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/custom.css" />

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
		<ul class="list-custom">
			<li style="font-size: x-large;"><a href="@Url.Action("Index", "Home")"> <img src="~/images/magister-head.png" height="30" width="30" />&nbsp;Моя магистерская диссертация</a></li>
			<li><a href="@Url.Action("Index", "History")">История</a></li>
			<li><a href="@Url.Action("Index", "Requirements")">Требования</a></li>
			<li><a href="@Url.Action("Index", "Test")">Пройти тест</a></li>
			<li><a href="@Url.Action("Index", "AboutYou")">О вaс</a></li>
			<li><a href="@Url.Action("Index", "Author")">Об авторе</a></li>
			<li>

			</li>
		</ul>
	</nav>
	@if (ViewContext.RouteData.Values["controller"].ToString() != "Home") {
		<breadcrumb></breadcrumb>
	}
	<div class="container body-content">
		@RenderBody()
	</div>
	<hr />
	<footer style="color:cornflowerblue; text-align:center">
		<p>&copy; 2020 </p>
	</footer>

	@RenderSection("Scripts", required: false)
</body>
</html>
