@{
	ViewData["Title"] = "Моя магистерская диссертация";
}

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166291616-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-166291616-1');
	</script>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (m, e, t, r, i, k, a) {
			m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
			m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
		})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(62751832, "init", {
			clickmap: true,
			trackLinks: true,
			accurateTrackBounce: true,
			webvisor: true
		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/62751832" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</head>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="~/js/loadScripts.js"></script>


<script type="text/javascript" src="~/js/spyLib/focus.js"></script>
<script type="text/javascript" src="~/js/spyLib/pageLogger.js"></script>
<script type="text/javascript" src="~/js/spyLib/collector.js"></script>
<script type="text/javascript">
	var timerStart = Date.now();
</script>
<script type="text/javascript" src="~/js/loadScripts.js"></script>
<div id="pageId" style="display:none;">Главная</div>


<script type="text/javascript">
	loadTime(timerStart);
</script>
<div class="container">
	<div class="col-md-6">
		<h1 id="hi" class="index-hi">Добро пожаловать!</h1>
		<p style="margin-top:30px">Этот сайт посвящен такому предмету, как <strong>магистерская диссертация</strong>. Здесь вы можете узнать об истории этого вида квалификационной работы, прочитать о требованиях, предъявляемых к магистерским диссертациям, а также пройти небольшой тест и узнать, какие темы диссертаций популярны в вашем направлении.</p>
		<p>Рекомендуется построить ваше знакомство с сайтом таким образом: посещайте страницы в той последовательности, в которой они представлены в главном меню слева направо.</p>
		<p>Проект создан в рамках выполнения моей собственной магистерской диссертации. Я исследую методы и возможности сбора данных о пользователях при работе в Интернете. Подробнее об этом вы можете прочитать в разделе <a id="navigateToAuthorFromMain" onclick="linkLogger(event)" href="@Url.Action("Index", "Author")">об авторе</a>.</p>
		<p>Немногие знают, что степень магистра в России выдавали еще в XVIII-ом веке, а также что степень магистра в настоящий момент является минимальной учёной степенью. Подробнее узнать про историю Болонской системы, её существование в России сейчас и раньше можно в разделе <a id="navigateToHistoryFromMain" onclick="linkLogger(event)" href="@Url.Action("Index", "History")">исторической справки</a>.</p>
		<p>Пройти тест и узнать, какие темы для магистерской диссертации часто выбирают по вашему направлению вы можете на странице <a id="navigateToTestFromMain" href="@Url.Action("Index", "Test")" onclick="linkLogger(event)">тест</a>.</p>
		<p>Заполнить форму обратной связи, узнать, какие данные о вас уже были собраны и оставить своё мнение про сайт вы можете на странице <a id="navigateToYouFromMain" onclick="linkLogger(event)" href="@Url.Action("Index", "AboutYou")">о вaс</a>.</p>
		<div>
			<p>
				Во время вашего нахождения на данном веб-сайте в учебных целях <strong>о вас будут собраны следующие данные</strong>:
				<ul>
					<li>время пребывания на сайте и отдельных страницах;</li>
					<li>общее количество просмотров страниц;</li>
					<li>количество сеансов на пользователя;</li>
					<li>количество ключевых действий пользователя за сеанс;</li>
					<li>IP-адрес;</li>
					<li>геолокационные данные;</li>
					<li>данные об используемой ОС, браузере, параметрах оборудования;</li>
					<li>а также то, что вы предоставите через опрос и тест;</li>
				</ul>
			</p>
		</div>
	</div>
	<div class="col-md-6">
		<img class="magister-logo-pic" src="/images/magister-logo.png" />
	</div>
</div>
<div id="cookieBanner" class="cookie-message" style="background-color: #3b3b3b; transition: .55s opacity, .55s visibility;">
	<h6 style="margin: 16px 16px 16px 16px;">
		<p style="color:white;"><strong>На этом сайте в научных целях собираются персональные данные и используются куки!</strong></p>
		<p style="color:white;"><strong>Ваш IP-адрес будет залогирован</strong>, если вы не хотите оставлять о себе подобную информацию, то немедленно покиньте этот веб-сайт!</p>
		<p style="color:white;">Прочитать об этом и других собираемых данных вы можете на странице  <a id="navigateToPoliticsFromMain" onclick="linkLogger(event)" href="@Url.Action("Politics", "Home")" target="_blank">"политика конфиденциальности"</a></p>
		<p style="color:white;">Подробнее о куках можно прочитать <a id="navigateToCookieFromMain" onclick="linkLogger(event)" href="@Url.Action("Cookies", "Home")" target="_blank">здесь</a></p>
		<button class="btn btn-primary" onclick="cookieAgree()">Понятно</button>
	</h6>
</div>